.cartitems {
  width: 90%;
  margin: 60px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
}

/*HEADER */

.cartitems-format-main {
  display: grid;
  grid-template-columns: 1.2fr 2.5fr 1fr 1fr 1fr 0.5fr;
  font-weight: 600;
  font-size: 15px;
  color: #555;
  padding-bottom: 15px;
}

.cartitems hr {
  border: none;
  height: 1px;
  background: #e6e6e6;
  margin: 18px 0;
}

/*CART ROW */

.cartitems-format {
  display: grid;
  grid-template-columns: 1.2fr 2.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 15px 0;
  font-size: 15px;
  color: #333;
  background: none;
  
}

.cartitems-format:hover {
 background: #FF6A2B;
  border-radius: 12px;
}

/* Product Image */
.carticon-product-icon {
  width: 85px;
  height: 95px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #eee;
  margin-left: 5px;
}

.product-name{
  background: none;
}

.price {
  font-weight: 600;
  color: #111;
  background: none;
}

/* Quantity */
.cartitems-quantity {
  width: 42px;
  height: 36px;
  background: #f4f4f4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/* Remove Icon */
.cartitems-remove-icon {
  width: 18px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
  background: none;
}

.cartitems-remove-icon:hover {
  opacity: 1;
  transform: scale(1.3);
}

/* BOTTOM SECTION */

.cartitems-down {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
}

/* TOTAL BOX */
.cartitems-total {
  width: 40%;
  padding: 30px;
  border-radius: 16px;
 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.cartitems-total h1 {
  font-size: 22px;
  margin-bottom: 25px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #444;
  padding: 8px 0;
}

.total-bold {
  color: #111;
}

.total-bold h3 {
  font-size: 18px;
}

/* Checkout Button */
.checkout-btn {
  width: 100%;
  margin-top: 25px;
  padding: 14px 0;
  background: #ffd400;
  border: none;
  color:black;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.checkout-btn:hover {
   background: #ffea00;
  transform: translateY(-2px);
}

/* PROMO CODE */

.cartitems-promocode {
  width: 55%;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.cartitems-promocode p {
  font-size: 15px;
  color: #555;
}

.cartitems-promobox {
  display: flex;
  margin-top: 18px;
}

.cartitems-promobox input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-size: 14px;
}

.cartitems-promobox button {
  padding: 12px 22px;
  background: #ffd400;
  color: black;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.cartitems-promobox button:hover {
  background: #ffea00;
  transform: translateY(-2px);
  font-weight: 500;
}

/*RESPONSIVE */

@media (max-width: 900px) {
  .cartitems-down {
    flex-direction: column;
  }

  .cartitems-total,
  .cartitems-promocode {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cartitems-format-main {
    display: none;
  }

  .cartitems-format {
    grid-template-columns: 1fr 2fr;
    row-gap: 12px;
  }

  .carticon-product-icon {
    width: 70px;
    height: 80px;
  }
}
